{#TODO dokonczyc wnętrze itemList \/#}
<div id="listOfTasks">
    <table>
        <thead>
        <tr>
            <td class="">Od:</td>
            <td style="min-width: 400px;text-align: left" class="">Temat:</td>
            <td class="">Usuń

            </td>
        </tr>
        </thead>
        {% for i in range(tasksList|length) %}
            <tr>
                <td class="task-link">
                    <a class="message-link" id="{{ taskID[i] }}">
                        {{ taskID[i] }}
                    </a>
                </td>

                <td style="text-align: left" class="task-link">
                    <a id="{{ taskID[i] }}" class="task-link">
                        {{ taskID[i] }}
                    </a>
                </td>

                <td>
                    <button
                            class="deleteButton"
                            id="{{ taskID[i] }}">
                        <i class="fa fa-trash">

                        </i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>