<!DOCTYPE html>

<html lang="pl">

<head>
	<title>Logowanie</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" 	href="{{url_for('static', filename = 'logInCss.css')}}"/>

</head>

<body>

	<div class="loginPage">
		<h1>Wprowadź dane logowania:</h1>

		<div class="form">

			<form action="http://127.0.0.1:4999/checkLogin" id="form" class="form" method='POST'>
		
			  <input type="text" class="formItem" placeholder="login" name="login"><br>
			  
			  <input type="password" class="formItem" placeholder="password" name="password">
			
			  <input type="submit" id="submitButton" class="formItem" value="Zaloguj się">
			  
			</form>
			{% if error%}
			<p class = error> {{ error}}</p>
			{% endif %}

		</div>
	</div>

</body>

</html>
