<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'mainStyle.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/6713b3719c.js"></script>
</head>
<body>

    <div class="loginBar">
			<h1> Logged as: {{login}}</h1>

			<div class="logoutButton">
					<a id="logoutText" href='{{url_for('logout') }}'> Wyloguj  </a>
			</div>
	</div>
    <div class="calosc">
        <div class="leftPane">

            <div class="addNewTask" >
                <a id="addNewTask">Add new task</a>
            </div>

            <div class="listOfAllTasks">
                <a id="listOfAllTasks">

                    Tasks list
{#                TODO uruchomic ilość niewykonanych zadań #}
                    {% if undoneQuantity !=0 %},<br>
                        Undone({{ undoneQuantity }})
                    {% endif %}
                </a>
            </div>

            <p class="napisOTagach">List of tasks by tag </p>

            <div class="taskListByTag" id="school">
                <a>
                    School tasks
                </a>
            </div>

            <div class="taskListByTag" id="work">
                <a>
                    Work tasks
                </a>
            </div>

            <div class="taskListByTag" id="home">
                <a>
                    Home tasks
                </a>
            </div>
        </div>

        <section class="mainPane" id="mainPane">
            {% if section_mainPane is defined %}
                {{ section_mainPane }}
            {% endif %}


        MAIN PANE SECTION WHERE SHOULD LIST APPEAR
{#        TODO uruchomic JS ze zmiennymi section_mainpane#}
        </section>
    </div>

</body>
</html>