<form  class="newMessageWindow" id="newMessageForm" action="{{ url_for('addTask')}}" method='POST'>

    Task title:
    <input type="text" id="newTaskTitle" name="newTaskTitle">
    <br>
    Task details:
    <input type="text" id="newTaskDetails" name="newTaskDetails">
    <br>
    Time to do task:
    <input type="text" id="newTaskTimeToDo" name="newTaskTimeToDo">
    <br><br>
    Tag:
    <input type="radio" id="schoolTag" name="tag" value="school"> School
    <input type="radio" id="workTag" name="tag" value="work" > Work
    <input type="radio" id="homeTag" name="tag" value="home" > Home

    <input type="submit" id="newTaskConfirm" name="confirmReceiverTitle" value="Add">

</form>