<form  class="newMessageWindow" id="newMessageForm" action="{{ url_for('createTask')}}" method='POST'>

    Tytuł zadania:
    <input type="text" id="newTaskTitle" name="newTaskTitle">
    <br>
    Szczegóły wiadomości:
    <input type="text" id="newTaskDetails" name="newTaskDetails">
    <br>
    Czas na zrobienie:
    <input type="date" id="newTaskTimeToDo" name="newTaskTimeToDo">
    <br><br>
    Tag:
    <input type="radio" id="schoolTag" name="tag" value="schoolTag"> School
    <input type="radio" id="workTag" name="tag" value="workTag" > Work
    <input type="radio" id="homeTag" name="tag" value="homeTag" > Home

    <input type="submit" id="newTaskConfirm" name="confirmReceiverTitle" value="Add">

</form>