<h1>Your list of tasks to do: </h1>

<div id="taskListDiv">

    <table>
        <thead>
            <tr>
                <td><b>Title</b></td>
                <td style="min-width: 400px;text-align: left"><b>Details</b></td>
                <td><b>Time to do</b></td>
                <td><b>Tag</b></td>
                <td><b>Done</b></td>
{#                <td><b>Edit</b></td>#}
                <td><b>Delete</b></td>
            </tr>
        </thead>

        {% for task in taskList %}

            <tr>
                <td class="titleItem">
                    <a class="task-link" id="{{ task["id"] }}">
                        {{ task["title"] }}
                    </a>
                </td>

                <td style="text-align: left" class="detailsItem">
                    <a class="task-link" id="{{ task["id"] }}">
                        {{ task["details"] }}
                    </a>
                </td>
{#TODO po kliknieciu w taga otwiera sie lista tagow (pomysl) #}
                <td style="text-align: left;min-width: 75px"  class="timeToDoItem">
                    <a class="task-link" id="{{ task["id"] }}">
                        {{ task["timeToDo"] }}
                    </a>
                </td>

                <td style="text-align: left" class="tagItem">
                    <a class="task-link" id="{{ task["id"] }}">
                        {{ task["tag"] }}
                    </a>
                </td>

                <td>
                    {% if task["done"] %}
{#                        <button class="checkButton"#}
{#                            id="{{ task["id"] }}">#}
                            <i class="fa fa-check">
                            </i>
{#                        </button>#}

                    {% else %}
{#                        <button class="checkButton"#}
{#                                id="{{ task["id"] }}">#}
                            <i class="fa fa-close">
                            </i>
{#                        </button>#}
                    {% endif %}
                </td>

{##}
{#                <td>#}
{#                    <button class="editButton"#}
{#                            id="{{ task["id"] }}">#}
{#                        <i class="fa fa-pencil-square-o">#}
{#                        </i>#}
{#                    </button>#}
{#                </td>#}


                <td>
                    <button class="deleteButton"
                            id="{{ task["id"] }}">
                        <i class="fa fa-trash">

                        </i>
                    </button>
                </td>
            </tr>
        {% endfor %}

    </table>
</div>

