<h1>Your list of tasks to do: </h1>

<div id="taskListDiv">

    <table>
        <thead>
            <tr>
                <td>Title:</td>
                <td style="min-width: 400px;text-align: left">Details:</td>
                <td>Time to do:</td>
                <td>Tag:</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>

        {% for task in taskList %}

            <tr>
                <td class="task-link">
                    <a class="task-link" id="{{ task["id"] }}">
                        {{ task["title"] }}
                    </a>
                </td>

                <td style="text-align: left" class="task-link">
                    <a class="task-link" id="{{ task["id"] }}">
                        {{ task["details"] }}
                    </a>
                </td>
{#TODO po kliknieciu w taga otwiera sie lista tagow (pomysl) #}
                <td style="text-align: left" class="task-link">
                    <a class="task-link" id="{{ task["id"] }}">
                        {{ task["timeToDo"] }}
                    </a>
                </td>

                <td style="text-align: left" class="task-link">
                    <a class="task-link" id="{{ task["id"] }}">
                        {{ task["tag"] }}
                    </a>
                </td>

                <td>
                    <button class="editButton"
                            id="{{ task["id"] }}">
                        <i class="fa fa-pencil-square-o">
                        </i>
                    </button>
                </td>

                <td>
                    <button class="deleteButton"
                            id="{{ task["id"] }}">
                        <i class="fa fa-trash">

                        </i>
                    </button>
                </td>
            </tr>
        {% endfor %}

    </table>
</div>

