{#<div id="taskEditContent">#}
    {% if task is defined %}

        <form  class="updateTaskWindow"
               id="updateTaskWindow"
               action="http://127.0.0.1:4999/updateTask"
               method='PUT'>

            {#               action="{{ url_for('addTask') }}"#}
            {#               action="http://127.01:4999/updateTask/6"#}


            Tytuł zadania:
            <input type="text" id="updateTaskTitle" name="updateTaskTitle" value="{{ task['title'] }}">
            <br>
            Task details:
            <input type="text" id="updateTaskDetails" name="updateTaskDetails" value="{{ task['details'] }}">
            <br>
            Time to do task:
            <input type="text" id="updateTaskTimeToDo" name="updateTaskTimeToDo" value="{{ task['timeToDo'] }}">
            <br><br>
    {#       NEW \/#}
            Done:
            <input type="checkbox" id="updateTaskDone" name="updateTaskDone" value="{{ task['done'] }}">
            Jeśli zadanie zakończone, kliknij w kwadrat

            <br>

            Tag:
            {% if task['tag']=='school' %}
                <input type="radio" id="schoolTag" name="tag" value="school" checked> School
                <input type="radio" id="workTag" name="tag" value="work" > Work
                <input type="radio" id="homeTag" name="tag" value="home" > Home
            {% elif task['tag']=='work' %}
                <input type="radio" id="schoolTag" name="tag" value="school" > School
                <input type="radio" id="workTag" name="tag" value="work" checked> Work
                <input type="radio" id="homeTag" name="tag" value="home"> Home
            {% else %}
                <input type="radio" id="schoolTag" name="tag" value="school" > School
                <input type="radio" id="workTag" name="tag" value="work" > Work
                <input type="radio" id="homeTag" name="tag" value="home" checked> Home
            {% endif %}

            <input type="submit" id="updateTaskConfirm" name="updateTaskConfirm"  value="Update">

        </form>

    {% endif %}
{#</div>#}